<section class="section">
  <div class="container">
    <h2 class="visually-hidden">About me</h2>
    <p class="about-me-description">
      I work with people all over the world to create impressive and
      <span class="about-text-red">functional</span>
      <span class="about-text-gray">websites</span> that reflect each client's
      unique personality.
    </p>
    <picture class="about-me-picture">
      <source
        class="about-me-image-source"
        srcset="
          ../img/about-me-img/mob-about-img.jpg    1x,
          ../img/about-me-img/mob-about-img@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <source
        class="about-me-image-source"
        srcset="
          ../img/about-me-img/about-tab.jpg    1x,
          ../img/about-me-img/about-tab@2x.jpg 2x
        "
        media="(min-width: 768px) and (max-width: 1199px)"
      />
      <source
        class="about-me-image-source"
        srcset="
          ../img/about-me-img/about-desk.jpg    1x,
          ../img/about-me-img/about-desk@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <img class="about-me-image" src="" alt="" loading="lazy" />
    </picture>
    <ul class="accordion-container">
      <li class="acc">
        <div class="ac-header-wrap">
          <h2 class="ac-header">ABOUT ME</h2>
          <button type="button" class="ac-trigger" aria-label="About me">
            <svg class="acc-icon" width="60" height="60">
              <use href="../img/icons.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="ac-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>

      <li class="acc">
        <div class="ac-header-wrap">
          <h2 class="ac-header">ROLE</h2>
          <button type="button" class="ac-trigger" aria-label="About me">
            <svg class="acc-icon" width="60" height="60">
              <use href="../img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Frontend development HeadlessCMS,Wordpress Blender(enjoy)
          </p>
        </div>
      </li>

      <li class="acc">
        <div class="ac-header-wrap">
          <h2 class="ac-header">EDUCATION</h2>
          <button type="button" class="ac-trigger" aria-label="About me">
            <svg class="acc-icon" width="60" height="60">
              <use href="../img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York 2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </div>
      </li>
    </ul>
    <div class="skills-swiper-container swiper-container">
      <ul class="skills-list swiper-wrapper">
        <li class="skill swiper-slide">HTML</li>
        <li class="skill swiper-slide">CSS</li>
        <li class="skill swiper-slide">JavaScript</li>
        <li class="skill swiper-slide">React</li>
        <li class="skill swiper-slide">Node.js</li>
        <li class="skill swiper-slide">Python</li>
        <li class="skill swiper-slide">SQL</li>
      </ul>
    </div>
  </div>
</section>
