<section class="covers-section section">
  <div class="container">
    <div class="content">
      <div class="marquee">
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img src="../img/covers-img/6-1x.png" alt="" />
          </li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img src="../img/covers-img/1-1x.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers-img/2-1x.png" alt="" />
          </li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img src="../img/covers-img/5-1x.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers-img/10-1x.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers-img/3-1x.png" alt="" />
          </li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img src="../img/covers-img/4-1x.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers-img/7-1x.png" alt="" />
          </li>
          <li class="marquee__line">
            <img src="../img/covers-img/8-1x.png" alt="" />
          </li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img src="../img/covers-img/9-1x.png" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
