<section class="covers-section section" id="covers">
  <div class="covers-container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="content">
      <img
        class="covers-bg-img"
        srcset="
          ./img/covers-img/covers-bg1x.png 1x,
          /img/covers-img/covers-bg@2x.png 2x
        "
        src="/img/covers-img/covers-bg1x.png"
        alt="red bg img"
      />
      <ul class="marquee">
        <li class="marquee-item">
          <ul class="marquee__inner">
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img4@1x.webp 1x,
                  /img/covers-img/img4@2x.webp 2x
                "
                src="/img/covers-img/img4@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Vegetables"
              />
            </li>
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img8@1x.webp 1x,
                  /img/covers-img/img8@2x.webp 2x
                "
                src="/img/covers-img/img8@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Fruits"
              />
            </li>
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img6@1x.webp 1x,
                  /img/covers-img/img6@2x.webp 2x
                "
                src="/img/covers-img/img6@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Fashion"
              />
            </li>
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img3@1x.webp 1x,
                  /img/covers-img/img3@2x.webp 2x
                "
                src="/img/covers-img/img3@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Artistry"
              />
            </li>
          </ul>
        </li>
        <li class="marquee-item">
          <ul class="marquee__inner">
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img1@1x.webp 1x,
                  /img/covers-img/img1@2x.webp 2x
                "
                src="/img/covers-img/img1@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Fitness"
              />
            </li>
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img2@1x.webp 1x,
                  /img/covers-img/img2@2x.webp 2x
                "
                src="/img/covers-img/img2@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Architecture"
              />
            </li>
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img9@1x.webp 1x,
                  /img/covers-img/img9@2x.webp 2x
                "
                src="/img/covers-img/img9@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Learning"
              />
            </li>
          </ul>
        </li>
        <li class="marquee-item">
          <ul class="marquee__inner">
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img5@1x.webp 1x,
                  /img/covers-img/img5@2x.webp 2x
                "
                src="/img/covers-img/img5@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Finance"
              />
            </li>
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img10@1x.webp 1x,
                  /img/covers-img/img10@2x.webp 2x
                "
                src="/img/covers-img/img10@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Leader"
              />
            </li>
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img3@1x.webp 1x,
                  /img/covers-img/img3@2x.webp 2x
                "
                src="/img/covers-img/img3@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Artistry"
              />
            </li>
          </ul>
        </li>
        <li class="marquee-item">
          <ul class="marquee__inner">
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img1@1x.webp 1x,
                  /img/covers-img/img1@2x.webp 2x
                "
                src="/img/covers-img/img1@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Fitness"
              />
            </li>
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img7@1x.webp 1x,
                  /img/covers-img/img7@2x.webp 2x
                "
                src="/img/covers-img/img7@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Health"
              />
            </li>
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img8@1x.webp 1x,
                  /img/covers-img/img8@2x.webp 2x
                "
                src="/img/covers-img/img8@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Fruits"
              />
            </li>
          </ul>
        </li>
        <li class="marquee-item">
          <ul class="marquee__inner last-inner">
            <li class="marquee__line">
              <img
                class="cover-img"
                srcset="
                  /img/covers-img/img9@1x.webp 1x,
                  /img/covers-img/img9@2x.webp 2x
                "
                src="/img/covers-img/img9@1x.webp"
                width="282"
                height="162"
                loading="lazy"
                alt="Learning"
              />
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
