<!-- <section class="covers-section section">
  <div class="container">
    <div class="content">
      <div class="marquee">
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/6.png" alt="Fashion" />
          </li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/1.png" alt="Fitness" />
          </li>
          <li class="marquee__line">
            <img
              class="cover-img"
              src="/img/covers-img/2.png"
              alt="Architecture"
            />
          </li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/5.png" alt="Finance" />
          </li>
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/10.png" alt="Leader" />
          </li>
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/3.png" alt="Artistry" />
          </li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img
              class="cover-img"
              src="/img/covers-img/4.png"
              alt="Vegetables"
            />
          </li>
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/7.png" alt="Health" />
          </li>
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/8.png" alt="Fruits" />
          </li>
        </ul>
        <ul class="marquee__inner last-inner">
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/9.png" alt="Learning" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section> -->

<section class="covers-section section">
  <div class="container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="content">
      <div class="marquee">
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/6.png" alt="Fashion" />
          </li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/1.png" alt="Fitness" />
          </li>
          <li class="marquee__line">
            <img
              class="cover-img"
              src="/img/covers-img/2.png"
              alt="Architecture"
            />
          </li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/5.png" alt="Finance" />
          </li>
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/10.png" alt="Leader" />
          </li>
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/3.png" alt="Artistry" />
          </li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img
              class="cover-img"
              src="/img/covers-img/4.png"
              alt="Vegetables"
            />
          </li>
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/7.png" alt="Health" />
          </li>
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/8.png" alt="Fruits" />
          </li>
        </ul>
        <ul class="marquee__inner last-inner">
          <li class="marquee__line">
            <img class="cover-img" src="/img/covers-img/9.png" alt="Learning" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
