<section class="hero-section">
  <div class="hero-container">
    <picture class="content-image-slide">
      <source
        srcset="
          /img/hero-img/glass-effect-1-min.png   1x,
          /img/hero-img/glass-effect-@2x-min.png 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/hero-img/Hero-tab-1x-min.png 1x,
          ./img/hero-img/Hero-tab-2x-min.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/hero-img/Hero-mob-1x-min.png 1x,
          ./img/hero-img/Hero-mob-2x-min.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="hero-bg"
        src="/img/hero-img/Hero-mob-1x-min.png"
        alt="hero
        bg"
      />
    </picture>
    <h1 class="hero-text">
      <span class="hero-text-an1">HELLO.<br /></span>
      <span class="hero-text-an2">I'M FULLSTACK DEVELOPER<br /></span>
      <span class="hero-text-an3">LLOYD JEFFERSON.</span>
    </h1>
    <ul class="social-links">
      <li class="social-list-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="hero-link hero-ig"
          target="_blank"
          rel="noopener"
          ><span class="tooltip">Instagram</span
          ><svg class="svg-icon">
            <use
              href="./img/icons.svg#icon-instagram"
              width="20"
              height="20"
            ></use></svg
        ></a>
      </li>
      <li class="social-list-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="hero-link hero-fb"
          target="_blank"
          rel="noopener"
          ><span class="tooltip">Facebook</span
          ><svg class="svg-icon">
            <use
              href="./img/icons.svg#icon-facebook"
              width="20"
              height="20"
            ></use></svg
        ></a>
      </li>
      <li class="social-list-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="hero-link hero-yt"
          target="_blank"
          rel="noopener"
          ><span class="tooltip">YouTube</span
          ><svg class="svg-icon">
            <use
              href="./img/icons.svg#icon-youtube"
              width="20"
              height="20"
            ></use></svg
        ></a>
      </li>
      <li class="social-list-item">
        <a
          href="https://github.com/DimaOstapchuk91/The-Jedi-of-JavaScript-team"
          class="hero-link hero-gh"
          target="_blank"
          rel="noopener"
          ><span class="tooltip">GitHub</span
          ><svg class="svg-icon">
            <use
              href="./img/icons.svg#icon-github"
              width="20"
              height="20"
            ></use></svg
        ></a>
      </li>
      <li>
        <a href="mailto:lloydjefferson@gmail.com" class="hero-link hero-em"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
