<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fullstack Developer Section</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/hero-section.css">
</head>

<body>
    <section class="hero-section">
        <div class="hero-container">
            <h1 class="hero-text">HELLO.<br> I’M FULLSTACK DEVELOPER<br> LLOYD JEFFERSON.</h1>
            <ul class="social-links container">
                <li><a href="https://www.instagram.com/goit.ua/" class="hero-link hero-ig" target="_blank"
                        rel="noopener">IG</a></li>
                <li><a href="https://www.facebook.com/goit.ua/" class="hero-link hero-fb" target="_blank"
                        rel="noopener">FB</a></li>
                <li><a href="https://www.youtube.com/c/goitua" class="hero-link hero-yt" target="_blank"
                        rel="noopener">YT</a></li>
                <li><a href="https://github.com/DimaOstapchuk91/The-Jedi-of-JavaScript-team" class="hero-link hero-gh"
                        target="_blank" rel="noopener">GH</a></li>
                <li><a href="mailto:lloydjefferson@gmail.com" class="hero-link hero-em">lloydjefferson@gmail.com</a>
                </li>
            </ul>
        </div>
    </section>
</body>

</html>