<section class="hero-section">
    <div class="hero-container">
        <picture class="content-image-slide">
            <source srcset="/img/hero-img/glass-effect-1-min.png 1x,
            /img/hero-img/glass-effect-1-min.png 2x
        " media="(min-width: 1440px)" />
            <source srcset="
            ./img/hero-img/Hero-tab-1x-min.png 1x,
            ./img/hero-img/Hero-tab-1x-min.png 2x
        " media="(min-width: 768px)" />
            <source srcset="
            ./img/hero-img/Hero-mob-1x-min.png 1x,
            ./img/hero-img/Hero-mob-1x-min.png 2x
        " media="(max-width: 767px)" />
            <img class="hero-bg" src="/img/hero-img/Hero-mob-1x-min.png" alt="hero
        bg" />
        </picture>
        <h1 class="hero-text">
            HELLO.<br />
            I'M FULLSTACK DEVELOPER<br />
            LLOYD JEFFERSON.
        </h1>
        <ul class="social-links">
            <li>
                <a href="https://www.instagram.com/goit.ua/" class="hero-link hero-ig" target="_blank"
                    rel="noopener">IG</a>
            </li>
            <li>
                <a href="https://www.facebook.com/goit.ua/" class="hero-link hero-fb" target="_blank"
                    rel="noopener">FB</a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/goitua" class="hero-link hero-yt" target="_blank"
                    rel="noopener">YT</a>
            </li>
            <li>
                <a href="https://github.com/DimaOstapchuk91/The-Jedi-of-JavaScript-team" class="hero-link hero-gh"
                    target="_blank" rel="noopener">GH</a>
            </li>
            <li>
                <a href="mailto:lloydjefferson@gmail.com" class="hero-link hero-em">lloydjefferson@gmail.com</a>
            </li>
        </ul>
    </div>
</section>