<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<div class="backdrop js-menu-container" id="mobile-menu">
  <div class="mob-wrap">
    <button
      class="mob-btn-close js-close-menu"
      aria-label="button-menu-close"
      type="button"
    >
      <svg class="btn-close" width="28" height="28">
        <use href="./img/icons.svg#icon-x1"></use>
      </svg>
    </button>
    <nav class="mob-menu">
      <ul class="mob-list">
        <li class="mob-item">
          <a href="#" aria-label="" class="mob-link js-header-link">About me</a>
        </li>
        <li class="mob-item">
          <a href="#" aria-label="" class="mob-link js-header-link">Benefits</a>
        </li>
        <li class="mob-item">
          <a href="#" aria-label="" class="mob-link js-header-link">Projects</a>
        </li>
        <li class="mob-item">
          <a href="#" aria-label="" class="mob-link js-header-link">FAQ</a>
        </li>
      </ul>
    </nav>
    <a href="#" aria-label="" class="modal-btn-order js-header-link"
      >Order the project</a
    >
  </div>
</div>
