<section class="section projects-section" id="projects-section">
  <div class="container">
    <h2 class="title-projects-section">project</h2>
    <div class="swiper swiper-container">
      <ul class="swiper-wrapper review-list">
        <!-- Slide 1 -->
        <li class="swiper-slide review-slide">
          <div class="text-slide">
            <div class="wrap-technology-stack">
              <ul class="technology-stack-list">
                <li class="technology-stack-item">&#35;react</li>
                <li class="technology-stack-item">&#35;js</li>
                <li class="technology-stack-item">&#35;node js</li>
                <li class="technology-stack-item">&#35;git</li>
              </ul>
            </div>
            <div class="programming-across-borders">
              <p class="programming-across-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
            </div>
            <a href="https://dimaostapchuk91.github.io/The-Jedi-of-JavaScript-team/" target="_blank"
              class="project-link">
              See project
            </a>
          </div>
          <div class="image-slide">
            <picture class="content-image-slide">
              <source srcset="../img/projects-img/phone-desk-1x.webp 1x, ../img/projects-img/phone-desk-2x.webp 2x"
                media="(min-width: 1440px)" />
              <source srcset="../img/projects-img/phone-tab-1x.webp 1x, ../img/projects-img/phone-tab-2x.webp 2x"
                media="(min-width: 768px)" />
              <source srcset="../img/projects-img/phone-mob-1x.webp 1x, ../img/projects-img/phone-mob-2x.webp 2x"
                media="(max-width: 767px)" />
              <img src="../img/projects-img/phone-mob-1x.webp 1x" alt="registration on phone" />
            </picture>
          </div>
        </li>

        <!-- Slide 2 -->
       <li class="swiper-slide review-slide">
          <div class="text-slide">
            <div class="wrap-technology-stack">
              <ul class="technology-stack-list">
                <li class="technology-stack-item">&#35;react</li>
                <li class="technology-stack-item">&#35;js</li>
                <li class="technology-stack-item">&#35;node js</li>
                <li class="technology-stack-item">&#35;git</li>
              </ul>
            </div>
            <div class="programming-across-borders">
              <p class="programming-across-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
            </div>
            <a href="https://dimaostapchuk91.github.io/The-Jedi-of-JavaScript-team/" target="_blank"
              class="project-link">
              See project
            </a>
          </div>
          <div class="image-slide">
            <picture class="content-image-slide">
              <source srcset="../img/projects-img/petlove-desk-1x.webp 1x, ../img/projects-img/petlove-desk-2x.webp 2x"
                media="(min-width: 1440px)" />
              <source srcset="../img/projects-img/petlove-tab-1x.webp 1x, ../img/projects-img/petlove-tab-2x.webp 2x"
                media="(min-width: 768px)" />
              <source srcset="../img/projects-img/petlove-mob-1x.webp 1x, ../img/projects-img/petlove-mob-2x.webp 2x"
                media="(max-width: 767px)" />
              <img src="../img/projects-img/petlove-mob-1x.webp 1x" alt="petlove" />
            </picture>
          </div>
        </li>

        <!-- Slide 3 -->
        <li class="swiper-slide review-slide">
          <div class="text-slide">
            <div class="wrap-technology-stack">
              <ul class="technology-stack-list">
                <li class="technology-stack-item">&#35;react</li>
                <li class="technology-stack-item">&#35;js</li>
                <li class="technology-stack-item">&#35;node js</li>
                <li class="technology-stack-item">&#35;git</li>
              </ul>
            </div>
            <div class="programming-across-borders">
              <p class="programming-across-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
            </div>
            <a href="https://dimaostapchuk91.github.io/The-Jedi-of-JavaScript-team/" target="_blank"
              class="project-link">
              See project
            </a>
          </div>
          <div class="image-slide">
            <picture class="content-image-slide">
              <source
                srcset="../img/projects-img/register-desk-1x.webp 1x, ../img/projects-img/register-desk-2x.webp 2x"
                media="(min-width: 1440px)" />
              <source srcset="../img/projects-img/register-tab-1x.webp 1x, ../img/projects-img/register-tab-2x.webp 2x"
                media="(min-width: 768px)" />
              <source srcset="../img/projects-img/register-mob-1x.webp 1x, ../img/projects-img/register-mob-2x.webp 2x"
                media="(max-width: 767px)" />
              <img src="../img/projects-img/register-mob-1x.webp 1x" alt="registration on mobile" />
            </picture>
          </div>
        </li>
      </ul>

      <div class="button-container">
        <button class="swiper-button-prev"></button>
        <button class="swiper-button-next"></button>
      </div>
    </div>

</section>