.about-section {
  padding-top: 64px;
  padding-bottom: 32px;
}

.about-me-description {
  padding: 32px 32px 272px 32px;
  text-transform: uppercase;
  background-color: #242527;
  border-radius: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin-bottom: 16px;
}

.about-text-red {
  color: #ed3b44;
}

.about-text-gray {
  color: #7a7a7b;
}

.about-me-image {
  border-radius: 24px;
  margin-bottom: 32px;
}

.ac-about-header-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  cursor: pointer;
}

.acc-about-item {
  margin-top: 0px;
  background-color: transparent;
  box-sizing: border-box;
  border-bottom: solid 1px #48494c;
  margin-bottom: 32px;
}
.ac-about-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
.about-btn-trigger {
  width: 36px;
  height: 36px;
  border: #8b8b8d solid 2px;
  border-radius: 50%;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.25s ease;
  position: relative;
  text-decoration: none;
  margin: 0;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: box-shadow 0.3s ease;
}

.ac-about-header-wrap:hover .about-btn-trigger {
  color: #8a8a8a;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.about-btn-trigger:hover,
.about-btn-trigger:focus {
  color: #8a8a8a;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.acc-about-icon {
  stroke: #fff;
  fill: transparent;
  transition: transform 0.3s ease;
}

.ac-about-panel {
  display: flex;
  flex-direction: column;
}
.ac-about-empty {
  display: none;
}

.ac-about-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.ac-about-text {
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.32px;
  color: #fafafa;
  margin-bottom: 32px;
}

.ac-about-header-wrap {
  padding-bottom: 32px;
}

.ac-about-text:last-child {
  margin-bottom: 0;
  padding-bottom: 20px;
}
.ac-about-panel {
  visibility: hidden;
}

.ac-about-panel {
  visibility: visible;
}

.acc-about-item.is-about-active > .ac-about-header .about-btn-trigger::after {
  content: '';
}

.about-slides-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 343px;
  height: 130px;
}

div.about-container {
  margin: 0;
}

.about-container.swiper.swiper-initialized {
  max-width: 260px;
  height: 130px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.about-item.swiper-slide {
  color: #fafafa;
  align-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: background-color 0.3s ease;
}

.about-item.swiper-slide.swiper-slide-active {
  background-color: #ed3b44;
  border: none;
}

button.about-button-next {
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.about-skill-icon {
  border: none;
  border-radius: 50%;
  stroke: #3b3b3b;
  fill: transparent;
  transition: box-shadow 0.3s ease;
}

.about-skill-icon:hover,
.about-skill-icon:focus {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 768px) {
  .about-section {
    padding-bottom: 48px;
  }

  .about-me-description {
    padding: 64px 64px 436px 64px;
    font-size: 38px;
    line-height: 1.05;
  }

  .about-me-image {
    margin-bottom: 64px;
  }

  .about-slides-wrap {
    max-width: 704px;
    height: 200px;
    gap: 64px;
  }

  .about-container.swiper.swiper-initialized {
    max-width: 600px;
    height: 200px;
  }

  button.about-button-next {
    width: 40px;
    height: 40px;
  }

  .about-skill-icon {
    width: 40px;
    height: 40px;
  }

  .ac-about-text {
    margin-bottom: 16px;
  }

  .ac-about-text:last-child {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-description {
    margin-bottom: 0;
  }

  .about-section {
    padding-top: 96px;
    padding-bottom: 82px;
  }

  .about-me-image {
    margin-bottom: 0;
  }

  .about-me-wrap {
    display: flex;
    gap: 16px;
    margin-bottom: 96px;
  }

  .about-me-description {
    box-sizing: border-box;
    width: 680px;
    height: 700px;
  }

  .ac-about-panel {
    flex-direction: row;
    align-items: flex-start;
  }

  .ac-about-empty {
    display: block;
    width: calc(100% / 2);
  }

  .ac-about-text-wrap {
    width: calc(100% / 2);
  }

  .ac-about-text {
    text-align: left;
    margin-left: 8px;
    max-width: 606px;
  }

  .about-slides-wrap {
    max-width: 1312px;
    gap: 72px;
    margin: 0 auto;
  }

  .about-container.swiper.swiper-initialized {
    max-width: 1200px;
  }

  button.about-button-next {
    width: 40px;
    height: 40px;
  }

  .about-skill-icon {
    width: 40px;
    height: 40px;
  }
  .ac-about-header-wrap {
    padding-bottom: 32px;
  }
  .ac-about-text {
    margin-bottom: 10px;
  }

  .ac-about-text:last-child {
    padding-bottom: 32px;
  }
}
