
 .covers-container {
   max-width: 375px;
   margin: 0 auto;
   padding: 0;
 }

 .covers-bg-img {
   width: 120%;
   height: 120%;
   z-index: 0;
 }

 .content {
   position: relative;
   max-width: 100%;
   height: 508px;
   overflow: hidden;
 }

 .marquee {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   overflow: hidden;
   backdrop-filter: blur(30px);
   background: rgba(217, 217, 217, 0.04);
 }

 .marquee-item {
   display: flex;
   margin-bottom: 20px;
   justify-content: flex-start;
   transform: translate(-400px, -200px) rotate(12deg);
 }

 .marquee__inner {
   width: 282px;
   height: 162px;
   display: flex;
   gap: 20px;
 }

 .cover-img {
   width: 282px;
   height: 162px;
 }

 .marquee__line {
   background-color: transparent;
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 282px;
   height: 162px;
   white-space: nowrap;
 }

 .marquee-item:nth-child(odd) .marquee__inner {
   animation: marqueeLeft 20s ease-in alternate infinite;
 }

 .marquee-item:nth-child(even) .marquee__inner {
   animation: marqueeRight 20s ease-in alternate infinite;
 }

 @keyframes marqueeLeft {
   0% {
     transform: translate(-34%);
   }

   100% {
     transform: translate(150%);
   }
 }

 @keyframes marqueeRight {
   0% {
     transform: translate(150%);
   }

   100% {
     transform: translate(-34%);
   }
 }

 @media screen and (min-width: 768px) {
   .covers-container {
     max-width: 768px;
   }

   .content {
     height: 960px;
   }

   .marquee__inner,
   .cover-img,
   .marquee__line {
     width: 544px;
     height: 314px;
   }

   .marquee-item {
     margin-bottom: 48px;
     transform: translate(-622px, -394px) rotate(12deg);
     width: 544px;
     height: 314px;
   }

   .marquee__inner {
     gap: 40px;
   }

   @keyframes marqueeLeft {
     0% {
       transform: translate(-60%);
     }

     100% {
       transform: translate(130%);
     }
   }

   @keyframes marqueeRight {
     0% {
       transform: translate(130%);
     }

     100% {
       transform: translate(-60%);
     }
   }
 }

 @media screen and (min-width: 1440px) {
   .covers-container {
     max-width: 1440px;
   }

   .marquee-item {
     transform: translate(-130px, -394px) rotate(12deg);
   }

   @keyframes marqueeLeft {
     0% {
       transform: translate(-30%);
     }

     100% {
       transform: translate(30%);
     }
   }

   @keyframes marqueeRight {
     0% {
       transform: translate(30%);
     }

     100% {
       transform: translate(-30%);
     }
   }
 }