.faq-title {
  margin-bottom: 32px;
}

.title-btn-box {
  display: flex;
  justify-content: space-between;
}

.faq-accordion-container {
  display: flex;
  flex-wrap: wrap;
}

.faq-accordion-item {
  max-width: 688px;
  padding: 32px;
  border: 1px solid #242527;
  background-color: transparent;
  box-sizing: border-box;
}
.faq-item-title {
  margin: 0;
  margin-bottom: 20px;
  color: #fafafa;
  padding: 0;
}

.faq-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid #242527;
}

.faq-arrow {
  stroke: #fafafa;
  transition: transform 0.4s ease;
}

.faq-text {
  color: #fafafa60;
}
