.projects-section {
    width: 343px;
    height: 952px;
}

.title-projects-section {
    width: 343px;
    margin-bottom: 32px;
}

.swiper-container {
    border-radius: 24px;
    width: 343px;
    height: 812px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
}

.review-list {}

.review-slide {}

.text-slide {}

.wrap-technology-stack {}

.technology-stack-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    width: 279px;
    margin: 32px 32px 96px 32px;
}

.technology-stack-item {
    border: 1px solid rgba(28, 29, 32, 0.2);
    border-radius: 60px;
    padding: 13px 18px;
    height: 45px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #1c1d20;
    text-align: center;
}

.programming-across-borders {
    width: 279px;
    margin: 0 auto;
}

.programming-across-text {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: #1c1d20;
    margin-top: 64px;
}

.project-link {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-align: center;
    border-radius: 60px;
    border: none;
    padding: 13px 32px;
    width: 141px;
    height: 45px;
    margin: 32px 170px 32px 32px;
    background: #ed3b44;
    color: #fafafa;
}

.image-slide {
    border-radius: 0 0 24px 24px;
    width: 343px;
    height: 395px;
    background: #242527;
}

.content-image-slide {
    width: 311px;
    height: 395px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {}

.swiper-button-prev {}

.swiper-button-next {}